*{

    box-sizing:border-box;

    font-family:Arial,Helvetica,sans-serif;

}

body{

    margin:0;

    background:#121212;

    color:white;

}

#app{

    width:90%;

    max-width:1200px;

    margin:auto;

    padding:40px;

}

h1{

    text-align:center;

    margin-bottom:40px;

}

.searchBar{

    display:flex;

    gap:10px;

}

.searchBar input{

    flex:1;

    padding:12px;

    font-size:16px;

    background:#222;

    border:none;

    color:white;

}

.searchBar button{

    padding:12px 24px;

    background:#4CAF50;

    color:white;

    border:none;

    cursor:pointer;

}

.searchBar button:hover{

    background:#45a049;

}

#playerContainer{

    margin-top:30px;

    background:#1f1f1f;

    padding:20px;

    border-radius:8px;

}

#playerList {

    display:grid;

    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));

    gap:15px;

    margin-top:20px;

}


.playerCard {

    background:#242424;

    padding:20px;

    border-radius:10px;

    cursor:pointer;

    transition:0.2s;

}


.playerCard:hover {

    background:#333;

    transform:translateY(-3px);

}


.playerCard h3 {

    margin-top:0;

}


.playerCard p {

    margin:5px 0;

}

.summaryGrid {

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

    gap:15px;

    margin-top:20px;

}

.summaryCard {

    background:#2d2d2d;

    padding:20px;

    border-radius:10px;

    text-align:center;

}

.summaryCard h3 {

    margin-top:0;

}

.summaryCard p {

    font-size:22px;

    margin-bottom:0;

}

.gamemode{

    margin-top:20px;

    background:#252525;

    border-radius:8px;

    padding:10px;

}

.gamemode summary{

    cursor:pointer;

    font-size:20px;

    font-weight:bold;

}

.currencyGrid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

    gap:10px;

    margin-top:15px;

}

.currencyCard{

    background:#333;

    padding:15px;

    border-radius:8px;

    text-align:center;

}

.pathDropdown{

    margin-top:15px;

}

.pathDropdown summary{

    cursor:pointer;

    font-size:17px;

}

.upgradeList{

    margin-top:10px;

}

.upgrade{

    display:flex;

    justify-content:space-between;

    padding:8px 12px;

    border-radius:5px;

    margin-top:4px;

}

.owned{

    background:#215b30;

}

.locked{

    background:#552424;

}
